click==8.2.1
colorama==0.4.6
grpcio==1.74.0
grpcio-tools==1.74.0
natsort==8.4.0
overrides==7.7.0
protobuf==6.31.1
robotframework==7.3.2
robotframework-assertion-engine==3.0.3
robotframework-browser==19.7.0
robotframework-pythonlibcore==4.4.1
seedir==0.5.1
setuptools==80.9.0
wrapt==1.17.2
